section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    // background-color: aquamarine;
    width: 100%;
    font-family: 'overpass';
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    h1{
        font-size: 128px;
        text-align: center;
        margin: 0;
    }

}

.myName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    color: #00BC8F;

    img{
        height: 4px;
    }
}
p {
    font-family: 'Overpass';
    font-size: 48px;
    margin: 0;
}
#scrollDownHead{
    position: absolute;
    right: 2em;
    bottom: 3em;
}
.navbar{
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-40%);
    width: 100%;
    z-index: 1;
}