<section id="landing">
    <app-menu-bar [targetInput]="'menu'" class="navbar"></app-menu-bar>
    <div class="title">
        <h1>Frontend Developer</h1>
        <div class="myName">
            <img class="vector" src="./assets/images/Vector 11.png" alt="">
            <p>Roman&nbsp;Schröder</p>
        </div>
        <a href="/#footer" class="callToAction">Send a message</a>
    </div>
    <p class="sendMes">Send&nbsp;a&nbsp;Message</p>
    <div class="botSec">
        <a class="emailLink" href="mailto:roman.schroeder@inclufilm.com">roman.schroeder&#64;inclufilm.com</a>
        <a (click)="navigateToID('about', -100)"><img class="scrolldown" id="scrollDownHead" src="./assets/images/Frame 58.png" alt=""></a>

    </div>
</section>