section {
    height: 100vh;
    filter: saturate(10%);
    background-color: aquamarine;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;

}

h1 {
    font-family: 'Adventure';
    font-size: 6em;
    margin: 0;
    color: red;
    filter: drop-shadow(0em 0em 0.05em yellow);
    // filter: drop-shadow(0em 0em 0.05em blue);
}

p {
    font-family: 'Normal';
    font-size: 2em;
    margin: 0;
    transform: translateX(120%);
}
#scrollDownHead{
    position: absolute;
    right: 2em;
    bottom: 3em;
}
app-menu-bar{
    position: sticky;
    top: 80px;
    // left: 50%;
    transform: translateX(-40%);
    width: 100%;
}