section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'overpass';
    // width: 100%;
}
.navbar {
    position: fixed;
    top: 3em;
    z-index: 3;
}
.botSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;  
    .emailLink{
        transform: rotateZ(-90deg) translateY(-5em);
    }
      
}
.sendMes{
    font-size: 2em;
    border: 0.2em solid black;
    padding: 0.5em 1em 0.5em 1em;
    visibility: hidden;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

h1 {
    font-size: 8em;
    text-align: center;
    margin: 0;
}

.myName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    color: #00BC8F;

}

.vector {
    height: 0.2em;
    width: 60%;
}

p {
    font-family: 'Overpass';
    font-size: 3.5em;
    margin: 0;
}

.scrolldown {
    right: 2em;
    bottom: 3em;
    animation: scrollDownAnim 1s;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 2s;
}

@keyframes scrollDownAnim {
    0%{
        transform: translateY(-100%) scale(0.8);
        opacity: 50%;
        filter: blur(1em);
    }
    50%{
        transform: translateY(0%) scale(1.2);
        opacity: 100%;
        filter: blur(0);
    }
    100%{
        transform: translateY(100%) scale(0.8);
        opacity: 50%;
        filter: blur(1em);

    }
}

.callToAction {
    font-size: 1.4em;
    border: 0.2em solid black;
    padding: 0.5em 1.0em 0.5em 1.0em;
    text-align: center;
    display: none;
    margin-top: 5em;
}

a{
    text-decoration: none;
    color: black;
    margin: 0;
    overflow: hidden;
}

@media (max-width: 1080px) {
    h1 {
        font-size: 6em;
    }

    .myName {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 4em;
    }

    p {
        font-size: 3em;
    }

    .scrolldown {
        position: static;
        width: 6em;
    }
    .callToAction{
        display: flex;
    }
    .emailLink{
        transform: translateX(-100em);
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 3em;
    }

    p {
        font-size: 2em;
    }

}

@media (max-width: 400px) {
    h1 {
        font-size: 2em;
    }
}