<section>
    <app-menu-bar class="navbar"></app-menu-bar>
    <div class="title">
        <h1>Frontend Developer</h1>
        <div class="myName">
            <img class="vector" src="./assets/images/Vector 11.png" alt="">
            <p>Roman&nbsp;Schröder</p>
        </div>
        <div (click)="callToAction()" class="callToAction">Send a message</div>
    </div>
    <p class="sendMes">Send&nbsp;a&nbsp;Message</p>
    <div class="botSec">
        <a class="emailLink" href="#">roman.schroeder&#64;inclufilm.com</a>
        <img class="scrolldown" id="scrollDownHead" src="./assets/images/Frame 58.png" alt="">

    </div>
</section>