section{
    background-image: url("./../../../assets/images/footer_bg.png");
    height: 30vh;
    background-size: cover;
    margin: 0;
    padding-top: 10em;
    padding-left: 4em;
}
h1{
    font-size: 8em;
    color: white;
}
a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}