// Variablen 

$value: 30em;
$fontSizeHeading: 3.1em;

//Klassen
:host {
    --font-size-heading: 5em;
    --position-arrow: 30em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10em;
    // padding-bottom: 5em;
    max-width: 1920px;

}
a{
    &:hover{
        cursor: pointer;
    }
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    gap: 2em;
    height: max-content;
}

.portaitImage{
    width: 35em;
    height: 40em;
    background-image: url("./../../assets/images/Ich.png");
    background-size: cover;
}
.hoverFrame{
    display: none;
    width: 100%;
    height: 100%;
    border: 0.3em dotted black;
    transform: translate(-1em, 1em);
}
.portaitImage:hover .hoverFrame{
    display: block;
}
img {
    width: 35em;

    &:hover {
        cursor: pointer;

    }
}

.textpart {
    width: 60%;
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    line-height: 2em;

}

h1 {
    font-size: var(--font-size-heading);
    margin: 0;
    width: 90%;
    text-align: center;
    margin-bottom: 0.5em;
}

p {
    margin: 0;
    font-family: 'Overpass';
    font-size: 1em;
}

.borderBtn {
    width: 213px;
    height: 68px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.pfeil {
    object-fit: cover;
    width: 13em;
    height: 13em;;
    transform: translateX(30vw);
    animation-name: arrowSide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    display: block;
    &:hover{
        cursor: pointer;
    }
}

@keyframes arrowSide {
    0% {
        transform: translateX(--position-arrow) translateY(0em);
    }

    100% {
        transform: translateX(--position-arrow - 10) translateY(10em);
    }
}

@media (max-width: 1500px) {
    .pfeil {
        transform: translateX(30vw) translateY(50%);
    }
}
@media (max-width: 1100px) {
    :host {
        --font-size-heading: 3.4em;
        --position-arrow: 110em;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        align-items: center;
        
    }

    .borderBtn {
        display: none;
    }

    .pfeil {
        transform: translateX(0%) translateY(50%);
        width: 8em;
        height: 8em;
        top: 130em;
        right: 10%;
    }

    h1 {
        text-align: center;
    }
    .textpart{
        width: 100%;
        line-height: 1.5em;
    }
}
@media (max-width:900px) {
    .pfeil{
        display: none;
    }
}
@media (max-width: 690px) {
    .portaitImage:hover .hoverFrame{
        display: none;
    }

    .borderBtn {
        display: none;
    }

    .pfeil {
        transform: translate(0);
        width: 8em;

    }

    h1 {
        text-align: center;
    }
}
@media (max-width: 600px){
    .portaitImage{
        width: 100%;
        height: 100vw;
    }
}

@media (max-width:400px) {
    :host {
        --font-size-heading: 2.2em;
    }
    .textpart{
        font-size: 1em;
    }
    img {
        width: 20em;
    }
}