<section>
    <h1>About Me</h1>
    <div class="content">
        <div class="textpart">
            <p>{{text}}</p>
            <a (click)="navigateToID('footer', -105)" class="borderBtn">
                <p>{{actionBtn}}</p>
            </a>
        </div>
        <div class="portaitImage">
            <div class="hoverFrame">
                
            </div>
        </div>
    </div>
    <img (click)="navigateToID('skills', -100)" class="pfeil" src="./assets/images/pfeil_dia.png" alt="">
</section>