<section>
    <h1>About Me</h1>
    <div class="content">
        <div class="textpart">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, blanditiis ab obcaecati expedita est
                numquam impedit reprehenderit nisi dignissimos explicabo officiis quaerat, fugiat ipsam. Eius facere
                iste architecto atque quod.</p>
            <div (click)="letsTalkBtn()" class="borderBtn">
                <p>Let's talk</p>
            </div>
        </div>
        <!-- <div class="imagePortait"> -->
        <img src="./assets/images/proxyFoto.jpg" alt="">
        <!-- <div class="frame">
            </div> -->
        <!-- </div> -->
    </div>
    <img class="pfeil" src="./assets/images/pfeil_dia.png" alt="">
</section>