<section>
    <h1>About Me</h1>
    <div class="content">
        <div class="textpart">
            <p>Hi, ich bin Roman Schröder, ein kreativer und logikbegeisterter Profi aus Remagen. Mit einem Bachelor in Digital Film Making, spezialisiert auf Postproduktion und Inklusion, sowie einer Weiterbildung zum Frontend Developer, bringe ich eine einzigartige Mischung aus Kreativität und technischem Know-how mit.</p>
            <a href="/#footer" class="borderBtn">
                <p>Let's talk</p>
            </a>
        </div>
        <div class="portaitImage">
            <div class="hoverFrame">

            </div>
        </div>
    </div>
    <img class="pfeil" src="./assets/images/pfeil_dia.png" alt="">
</section>