.menuBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}
img{
    // width: 60px;
    height: 2em;
    &:hover{
        cursor: pointer;
    }
}
.logo{
    height: 4em;
}