.menuBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
img{
    // width: 60px;
    height: 2em;
    &:hover{
        cursor: pointer;
    }
}
.logo{
    height: 4em;
}
.visible {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.invisible {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Optional, um Interaktionen zu verhindern, wenn unsichtbar */
}