<form action="#" method="post">
    <h2>Want to discuss a new project?</h2>
    <p>Say hello! Let's discuss your ideas and make it happen</p>
    <div class="inputs">
        <input class="textInput" type="text" placeholder="Your Name" >
        <input class="textInput" type="text" placeholder="Your Email">
        <textarea class="textInput" placeholder="Your Massege" id=""></textarea>
        <div class="policy">
            <input type="checkbox" id="policyCheck">
            <span>I've red the <a href="#">privacy policy</a> and agree to he processing of my data as outlined.</span>
        </div>
    </div>
</form>
