form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
    font-family: 'Overpass';
    color: white;
    // background-color: bisque;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.textInput{
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    height: 50px;
    color: aliceblue;
    font-family: 'Overpass';
    &::placeholder{
        color: gray; /* Farbe des Platzhaltertexts */
        opacity: 1;  /* Stellt sicher, dass die Farbe vollständig angewendet wird */
        }
}
h2{
    color: #00BC8F;
    font-size: 2.5em;
    line-height: 38.4px;
}
.policy{
    margin-top: 1em;
}

@media (max-width: 690px) {
    form{
        width: 100%;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        width: 80%;
    }
    .inputs{
        width: 80%;
    }
}


@media (max-width:400px) {
    form{
        width: 100%;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        width: 80%;
    }
    .inputs{
        width: 80%;
    }
}