<form (ngSubmit)="onSubmit()">
    <h2>Want to discuss a new project?</h2>
    <p>Say hello! Let's discuss your ideas and make it happen</p>
    <div class="inputs">
        <input [(ngModel)]="contactData.name" class="textInput" type="text" placeholder="Your Name" >
        <input [(ngModel)]="contactData.email" class="textInput" type="text" placeholder="Your Email">
        <textarea [(ngModel)]="contactData.text" class="textInput" placeholder="Your Massege" id=""></textarea>
        <div class="policy">
            <input [(ngModel)]="contactData.policy" type="checkbox" id="policyCheck">
            <span>I've red the <a href="#">privacy policy</a> and agree to he processing of my data as outlined.</span>
        </div>
    </div>
    <button type="submit" value="submit">Absenden</button>
</form>
