<form id="nameInput"  (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" *ngIf="seeForm">
    <h2>{{heading}}</h2>
    <p>{{subHeading}}</p>
    <div class="inputs">
        <!-- -->
        <input 
            
            [ngClass]="{'nonValid': formInvalid[0]}"
            required  
            [(ngModel)]="contactData.name" 
            name="name" 
            class="textInput" 
            type="text" 
            placeholder="{{formFieldNames[0]}}"
            >

        <input [ngClass]="{'nonValid': formInvalid[1]}" required [(ngModel)]="contactData.email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" name="email" class="textInput" type="email" placeholder="{{formFieldNames[1]}}">
        <textarea [ngClass]="{'nonValid': formInvalid[2]}" required #message="ngModel" [(ngModel)]="contactData.message" name="message" class="textInput" placeholder="{{formFieldNames[2]}}" id=""></textarea>
        
        
        <div class="policy">
            <input required [(ngModel)]="contactData.policy" name="policy" type="checkbox" id="policyCheck">
            <span [ngClass]="{'nonValidPolicy': formInvalid[3]}">{{formFieldNames[3]}} <a (click)="navigateToID('privacy', 150)">{{formFieldNames[4]}}</a>{{formFieldNames[5]}}</span>
        </div>
    </div>
    @if (!message.valid && message.touched && !message.disabled) {
        <span>{{formFieldNames[6]}}</span>
    }
    <button [disabled]="btnDisabled" id="submit" type="submit" value="submit">{{btnText}}</button>
</form>
<app-disclaimer #disclaimer (closed)="onDisclaimerClosed()" ></app-disclaimer>
