section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    a {
        font-family: 'Syne';
        font-size: 8em;
        text-decoration: none;
        color: black;
        // border: 0.1em solid black;
        padding: 0.1em 0.4em 0.1em 0.4em;
        background-color:  #FFFCF3;
        filter: drop-shadow(-0.01em 0.01em 0.001em black) ;
        box-sizing: content-box;
        &:hover{
            color: #00BC8F;
            filter: drop-shadow(-0.01em 0.01em 0.001em #00BC8F) ;
            cursor: pointer;
        }
    }
}
@media (max-width: 700px ) {
    section{
        a{
            font-size: 5em;
        }

    }
}
@media (max-width: 400px ) {
    section{
        gap: 3em;
        a{
            font-size: 3em;
        }

    }
}