.referenceProject {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90vw;
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);

        .frame {
            display: flex;
        }
    }
}

.refImage {
    width: 40em;
    height: 25em;
    object-fit: cover;
}

.switchDirec {
    flex-direction: row-reverse;
}

.projNumb {
    display: flex;
    width: 50%;
    // background-color: aqua;
}

.numberPositionLeft {
    justify-content: left;
}

.numberPositionRight {
    justify-content: right;
}

h1 {
    font-size: 78px;
    font-weight: 800;
    line-height: 70px;
}

h2 {
    font-size: 40px;
    font-family: 'Overpass';
}

@media (max-width: 690px) {
    .refImage{
        width: 100%;
        height: auto;
    }
    .referenceProject {
        flex-direction: column-reverse;
        align-items: center;
        filter: grayscale(0);
    }
    .numberPositionLeft {
        justify-content: left;
    }
    
    .numberPositionRight {
        justify-content: right;
    }
    .projNumb {
        width: 100%;
    }

}


@media (max-width:400px) {}