<a href="{{href}}" target="_blank" data-aos="zoom-in" data-aos-once="true" class="referenceProject {{test}}">
    <div class="bgImage" style="background-image: url('{{imageSrc}}');">
        <div class="imageFrame">
            
        </div>
    </div>
    <div class="info">
        <h2 class="counter" [ngClass]="direction ? 'h2Left' : 'h2Right'">{{ projectNumber }}/{{projectsLength}}</h2>
        <div class="infoRef" [ngClass]="direction ? 'numberPositionLeft' : 'numberPositionRight'">
                <h1>{{title}}</h1>
                <h2 class="subHeadRef">{{knowledge}}</h2>
                <p>{{description}}</p>
                <a href="{{gitURL}}" target="_blank" [ngClass]="direction ? 'slideLeft' : 'slideRight'"
                    class="divBtn">Github</a>

        </div>
    </div>

</a>
