section{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

@media (max-width: 690px) {
    :host{
    }
    section{
        margin-top: 10em;
    }
}
@media (max-width:400px){
    section{
        margin-top: 17em;

    }
}