section{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding-top: 10em;
}
.referenz{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 690px) {
    section{
        margin-top: 10em;
    }
}
@media (max-width:400px){
    section{
        margin-top: 2em;

    }
}