h1{
    font-size: 78px;
    width: 30%;
    margin: 0;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

}
p{
    width: 30%;
    font-size: 23px;
}