<section>
    <h1>Portfolio</h1>
    <p>In meiner Karriere habe ich an verschiedenen spannenden Projekten gearbeitet. Zu meinen wichtigsten Filmprojekten gehören "Kunst bewegt" und "Sinzig Inklusiv", die beide meine Leidenschaft für Inklusion und kreatives Storytelling widerspiegeln. Im Bereich Frontend-Entwicklung habe ich das Browser Game "Sharkie", die API-gestützte Website "Pokedex" und die LudumDare-Wettbewerbseinreichung "Perfect Pizza Pinball" realisiert. Seit 2010 habe ich zudem den Online Shop "Perlando" aufgebaut und bearbeitet.</p>
</section>
