:host {
    --font-size-heading: 5em;
    --font-size-text: 1.5em;
}

h1 {
    font-size: var(--font-size-heading);
    width: 90%;
    text-align: center;
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p {
    width: 90%;
    font-size: var(--font-size-text);
    font-family: 'Overpass';
    line-height: 1.5em;
}

@media (max-width: 690px) {
    :host {
        --font-size-heading: 5em;
        --font-size-text: 2em;
    }
    p{
        width: 90%;
    }
}
@media (max-width: 580px) {
    :host {
        --font-size-heading: 3.5em;
        --font-size-text: 1.2em;
    }
    p{
        width: 80%;
    }
}

@media (max-width:400px) {
    :host {
        --font-size-heading: 2.5em;
        --font-size-text: 1.2em;
    }
    p{
        width: 80%;
    }
}