:host{
    --font-size-heading: 5em;
    --gap-icons: 1em;
    --gap-row-icons: 4em;
    --spades-icons: 6;
}
.skillContainer{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    // border: 0.3em solid black;
    gap: var(--gap-icons);
    row-gap: var(--gap-row-icons);
    justify-content: center;
    // align-items: center;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // height: 30vh;
    gap: 2em;
    // height: 100vh;
    // background-color: rgb(255, 0, 0);
}
h1{
    font-size: var(--font-size-heading);
    // position: relative;
    // top: 50px;
    // left: 50%;
    // transform: translateY(50%);
    z-index: 2;
}
@media (max-width: 690px) {
    :host{
        --gap-icons: 5em;
        --gap-row-icons: 3em;
        --spades-icons:3;
        --font-size-heading: 4em
    }
    h1{
        // transform: translateX(-65%);
    }
    section{
        margin-top: 1em;
    }
}
@media (max-width:470px){
    :host{
        // --gap-icons: 2em;
        // --gap-row-icons: 3em;
        // --spades-icons:2;
        --font-size-heading: 3.0em

    }
    h1{
        top: 0.8em;
    }
    .skillContainer{
        padding: 2em;
    }
    section{
        // margin-top: 1em;
    }

}
@media (max-width:400px){
    :host{
        --gap-icons: 2em;
        --gap-row-icons: 3em;
        --spades-icons:2;
        --font-size-heading: 3.0em

    }
    h1{
        top: 0.8em;
    }
    .skillContainer{
    }
    section{
        // margin-top: 1em;
    }

}