<section>
    <div class="frame">
        <img src="./assets/images/pfeil_dia.png" alt="">
    </div>
    <div>
        <h1>Join</h1>
        <h2>Angular | Typescript | Wurstfach</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Mollitia quidem, sapiente similique alias ipsa, et nisi
            repellat exercitationem distinctio animi sequi amet eius 
            totam aspernatur, minus natus dolorum fuga vitae!</p>
        <div>Github</div>
    </div>
</section>
