<section [ngClass]="evenIndex ? 'direction' : ''" >
    <div class="frame">
        <img class="arrowReferenz" [ngClass]="evenIndex ? 'arrowReferenzRight' : 'arrowReferenzLeft'" src="./assets/images/pfeil_dia.png" alt="">
    </div>
    <div class="infoRef" [ngClass]="evenIndex ? 'animationLeft' : 'animationRight'">
        <h1>{{ownProject.title}}</h1>
        <h2 class="subHeadRef">{{ownKnowledge}}</h2>
        <p>{{ownProject.description}}</p>
        <div [ngClass]="evenIndex ? 'slideRight' : 'slideLeft'" class="divBtn">Github</div>
    </div>        

</section>
