.menuBar{
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    // width: 80%;
}
img{
    // width: 60px;
    height: 2em;
    &:hover{
        cursor: pointer;
    }
}