.menuBar{
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}
img{
    height: 2em;
    &:hover{
        cursor: pointer;
    }
}