<app-menu-bar class="menu"></app-menu-bar>
<div class="container">
    <!-- Impressum -->
    <div class="section" id="impressum">
        <h1>Impressum</h1>
        <p><strong>Inclufilm</strong></p>
        <p>Siebengebirgsweg 10<br>53424 Remagen<br>Deutschland</p>
        <p><strong>Vertreten durch:</strong><br>Roman Schröder</p>
        <p><strong>Kontakt:</strong><br>
        E-Mail: <a href="mailto:roman.schroeder@inclufilm.com">roman.schroeder&#64;inclufilm.com</a><br>
        Telefon: 015141684778</p>
        <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
        Roman Schröder<br>
        Siebengebirgsweg 10<br>53424 Remagen</p>
    </div>

    <!-- Datenschutzerklärung -->
    <div class="section" id="datenschutz">
        <h2>Datenschutzerklärung</h2>
        <h3>1. Erhebung und Speicherung personenbezogener Daten sowie Art und Zweck von deren Verwendung</h3>
        <p>Beim Besuch der Website werden die folgenden Informationen automatisch von deinem Browser an den Server unserer Website gesendet:</p>
        <ul>
            <li><strong>Name und E-Mail-Adresse:</strong> Diese Daten werden erfasst, wenn du unser Kontaktformular nutzt, um deine Anfrage zu beantworten.</li>
            <li><strong>Spracheinstellung des Browsers (navigator.language):</strong> Diese Information wird abgefragt, um die korrekte Sprachversion der Website darzustellen.</li>
        </ul>

        <h3>2. Zweck der Verarbeitung</h3>
        <p>Die Verarbeitung der genannten Daten erfolgt, um:</p>
        <ul>
            <li>Dein Anliegen über das Kontaktformular bearbeiten zu können.</li>
            <li>Die Sprachversion der Website korrekt darzustellen.</li>
        </ul>

        <h3>3. Verwendung von Drittanbietern</h3>
        <p>Wir verwenden auf unserer Website keine Drittanbieter, die personenbezogene Daten verarbeiten.</p>

        <h3>4. Speicherdauer</h3>
        <p>Die Daten werden nur so lange gespeichert, wie es für die Bearbeitung deiner Anfrage notwendig ist und anschließend gelöscht, sofern keine gesetzlichen Aufbewahrungspflichten entgegenstehen.</p>

        <h3>5. Rechte der Nutzer</h3>
        <p>Als Nutzer hast du das Recht auf:</p>
        <ul>
            <li><strong>Auskunft:</strong> über die bei uns gespeicherten personenbezogenen Daten.</li>
            <li><strong>Berichtigung:</strong> falscher Daten.</li>
            <li><strong>Löschung:</strong> deiner bei uns gespeicherten Daten, sofern diese nicht zur Erfüllung gesetzlicher Verpflichtungen benötigt werden.</li>
        </ul>
        <p>Du kannst jederzeit Auskunft über deine gespeicherten personenbezogenen Daten verlangen, deren Berichtigung oder Löschung fordern, sowie der Verarbeitung deiner Daten widersprechen. Bitte kontaktiere uns hierfür unter <a href="mailto:roman.schroeder@inclufilm.com">roman.schroeder&#64;inclufilm.com</a>.</p>
    </div>

    <!-- AGBs -->
    <div class="section" id="agb">
        <h2>Allgemeine Geschäftsbedingungen (AGB)</h2>
        <p>Da diese Website lediglich Informationen bereitstellt und eine Kontaktmöglichkeit bietet, sind AGBs nicht notwendig.</p>
    </div>
</div>
<app-footer></app-footer>
