section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    
    font-size: 1em;
}
img{
    height: 2em;
}
.logo{
    height: 4em;
}
.shareBtns{
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content:center;
    align-items: center;
    width: 33%;
  }
.imprint{
    font-family: 'Overpass';
    letter-spacing: 1%;
    margin: 0;
    transform: scaleY(0.9);
    font-weight: 800;
    font-size: 1.5em;
    width: 33%;
    text-align: center;
    &:hover{
        cursor: pointer;
        color: #00BC8F;
    }
}
a{
    text-decoration: none;
    color:white;
}
p{
    font-size: 2em;
}
.btnUp{
    background-image: url('./../../../assets/images/pfeil_dia_green.png');
    background-size: cover;
    transform: translate(10em, -20em) rotate(135deg) scale(120%);
    width: 4em;
    height: 4em;
    align-self: center;
    &:hover{
        filter: drop-shadow(0 0 15px #00BC8F)  drop-shadow(0 0 5px #00BC8F)  ;
        cursor: pointer;
    }
}

.imprintLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
    gap: 1em;
    margin: 0;
    &:hover{
        cursor: pointer;
    }
}
@media (max-width: 1000px) {
    .imprintLink{
            transform: translateX(-4vw);

    }
    .btnUp{
        transform: translate(13em, -20em) rotate(135deg)scale(120%);
    }
}
@media (max-width: 840px) {
    section{
        flex-direction: column;
        gap: 1.5em;
        margin-bottom: 4em;
    }
    .btnUp{
        display: none;
    }

}
@media (max-width: 600px) {
    p{
        font-size: 1.5em;
    }
    a{
        width: 100%;
    }
    .imprintLink{
        transform: translateX(-12vw);

    }
}
@media (max-width: 400px) {
    .imprintLink{
        transform: translateX(-20vw);

    }
}