::-webkit-scrollbar{
  width: 22px; /* Breite der vertikalen Scrollleiste */
  height: 12px; /* Höhe der horizontalen Scrollleiste */
}
::-webkit-scrollbar-track{
  background-color: #00BC8F;
  border:0.1em solid black;
  border-radius: 0.5em;
}
::-webkit-scrollbar-thumb{
  width: 0.01em;
   height: 0.01em;
  transform:translateX(1em);
  background-color: black;
  background-image: url('./assets/images/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.1em solid #FFFCF3;
  border-radius: 0.5em;
  &:hover{
    background-color: rgb(62, 62, 62);
    cursor: pointer;
  }
}


html{
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #FFFCF3;
  max-width: 1920px;
  
}

h1 {
  font-family: 'Syne';
  letter-spacing: 1%;
  margin: 0;
  transform: scaleY(0.9);
  font-weight: 800;

  &:hover {
    color: #00BC8F;
    cursor: default;
  }
}

// Fonts
@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/Syne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/Syne-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('./assets/fonts/Overpass-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}